In [15]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np

In [16]:
prices = pd.read_csv("close_prices.csv", index_col="date")

In [17]:
prices

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
date,,,,,,,,,,,,,,,,,,,,,
2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-12,81.559998,152.039993,80.190002,28.240000,102.419998,80.400001,107.169998,25.400000,189.949997,116.099998,...,34.000000,82.089996,33.130001,107.830002,114.879997,121.239998,269.579987,48.730000,81.900002,84.220001
2015-03-13,80.599998,151.570007,79.230003,27.940001,101.620003,80.499997,106.440002,25.040001,189.339996,114.820000,...,34.000000,81.830002,32.759998,106.720001,115.250000,118.739998,265.029999,48.840000,81.900002,83.870003
2015-03-16,81.500000,153.669998,79.970001,28.299999,103.129997,77.069994,107.370003,25.450001,191.899994,116.500000,...,34.439999,83.559998,33.060001,108.930000,118.519997,120.070000,269.019989,49.270000,83.290001,84.760002
2015-03-17,81.059998,154.509995,78.449997,28.150000,103.169998,74.680001,106.959999,25.309999,190.570007,115.580002,...,34.169998,82.849998,32.900002,108.750000,117.599998,119.860001,264.500000,48.950001,82.620003,84.080002
2015-03-18,81.860001,155.729996,81.330002,28.150000,106.699997,76.009997,107.970001,25.639999,192.320007,116.080002,...,34.380001,83.750000,33.590000,109.519997,119.959999,120.309998,267.670013,49.540001,82.529999,86.070000

In [18]:
dj = pd.read_csv("djia_index.csv", index_col="date")

In [19]:
dj.head()

                    ^DJI
date
2013-09-23  15401.379883
2013-09-24  15334.589844
2013-09-25  15273.259766
2013-09-26  15328.299805
2013-09-27  15258.240234

In [20]:
for n in range(1,10):
    pca = PCA(n_components=n)
    pca.fit(prices)
    print(n, ":", (pca.explained_variance_ratio_).sum())

1 : 0.7389711827152154
2 : 0.8490428728139177
3 : 0.8989937555837076
4 : 0.9277429537836402
5 : 0.9498974326632793
6 : 0.969213199173712
7 : 0.9759617307369696
8 : 0.9821026409235677
9 : 0.9853085826092454

In [28]:
pca = PCA(n_components=10)
pca.fit(prices)
prices_transformed = pd.DataFrame(pca.transform(prices))

In [29]:
prices_transformed

,0,1,2,3,4,5,6,7,8,9
0,-50.902404,17.631677,7.736021,2.596010,2.377569,4.244055,12.883088,3.556570,-5.821974,-1.726040
1,-52.846909,19.146907,7.272546,4.618575,0.102182,3.935519,11.062930,3.432599,-5.633181,-2.012232
2,-54.614439,19.927358,8.109958,4.920347,-0.421454,4.555335,10.119224,4.175203,-5.388287,-2.752699
3,-52.600566,19.941571,6.948113,4.806243,0.319779,5.065505,9.849605,3.266579,-5.974574,-1.922746
4,-52.370123,22.289064,8.410868,3.833372,-2.464882,4.359897,7.988691,3.452709,-5.745204,-1.875131
...,...,...,...,...,...,...,...,...,...,...
369,81.290980,18.000532,-9.494124,14.199909,1.316693,8.919781,-5.755256,2.526502,-5.359847,-2.279987
370,77.903534,20.647020,-6.150860,15.059089,-0.824233,7.737595,-7.921301,3.533730,-4.255878,-3.066492
371,83.798199,16.952413,-8.252656,16.393537,1.822557,6.867906,-4.756739,2.923904,-4.595438,-2.990335
372,79.195789,19.144360,-6.932630,18.396232,1.626091,6.367810,-5.745384,3.404754,-3.667933,-3.576076
373,82.968859,13.135140,-9.076443,18.982002,3.585044,5.848639,-4.077595,3.751004,-4.791722,-3.039189

In [22]:
(pca.explained_variance_ratio_)

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 , 0.02215448,
       0.01931577, 0.00674853, 0.00614091, 0.00320594, 0.00305611])

In [30]:
first_comp = prices_transformed[0]
dj_index = dj['^DJI']

In [31]:
np.corrcoef(first_comp, dj_index)

array([[1.        , 0.90965222],
       [0.90965222, 1.        ]])

In [38]:
pd.DataFrame(pca.components_).loc[0, :].sort_values()

10   -0.264999
4    -0.125860
2    -0.051661
29   -0.042942
15   -0.026107
22   -0.007206
7    -0.006205
27    0.000109
0     0.016138
20    0.023092
14    0.029055
13    0.046988
3     0.050484
25    0.053683
17    0.071390
18    0.076230
21    0.077732
28    0.087161
12    0.091395
11    0.093132
5     0.114090
1     0.120645
23    0.189480
19    0.211889
6     0.233906
8     0.251227
9     0.288996
24    0.321564
16    0.329616
26    0.579684
Name: 0, dtype: float64