In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import KFold

In [3]:
from sklearn.model_selection import cross_val_score

In [4]:
kf = KFold(shuffle=True, random_state=42)

In [12]:
df = pd.read_csv('wine.data', header=None)

In [13]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

In [17]:
y = df.loc[:,0]

In [20]:
df = df.drop(0, axis=1)

In [18]:
y

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: 0, Length: 178, dtype: int64

In [10]:
from sklearn.neighbors import KNeighborsClassifier

In [28]:
a=0
for k in range(1, 51):
    kn = KNeighborsClassifier(n_neighbors=k)
    cv = cross_val_score(kn, df, y, cv=kf)
    mean_accuracy = cv.mean()
    if mean_accuracy > a:
        print(k ,"Accuracy: ", mean_accuracy)
        a=mean_accuracy

1 Accuracy:  0.7304761904761905

In [29]:
from sklearn.preprocessing import scale

In [30]:
df_2 = df.copy(deep=True)

In [31]:
scaled_df = scale(df_2)

In [34]:
a=0
for k in range(1, 51):
    kn = KNeighborsClassifier(n_neighbors=k)
    cv = cross_val_score(kn, scaled_df, y, cv=kf)
    mean_accuracy = cv.mean()
    if mean_accuracy > a:
        print(k ,"Accuracy: ", mean_accuracy)
        a=mean_accuracy

1 Accuracy:  0.943968253968254
3 Accuracy:  0.9550793650793651
8 Accuracy:  0.9552380952380952
9 Accuracy:  0.9607936507936508
11 Accuracy:  0.9609523809523809
14 Accuracy:  0.9663492063492063
15 Accuracy:  0.9720634920634922
29 Accuracy:  0.9776190476190475