In [1]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge

from scipy.sparse import hstack

In [2]:
df = pd.read_csv("salary-train.csv")
df_test = pd.read_csv("salary-test-mini.csv")

In [3]:
df.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [4]:
df_test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [5]:
df["FullDescription"][0]

'International Sales Manager London ****k  ****k  Uncapped Commission Digital Marketing/Performance Marketing A highly ambitious Performance Marketing company and one of the leaders in the European market are seeking excellent Business Development/Sales professionals for their International team based in London. With approximately **** clients across a number of verticals including travel tourism, telecoms, financial services and retail their EU reach incorporates offices in 17 countries, with this soon to be expanded to **** There are further plans to set up in Asia and the emerging Middle Eastern markets. Clients include some of the largest companies in telecoms, finance, travel and computer software. The International Sales Manager will ultimately be responsible for growing the global client base by pitching and winning new business with large, bluechip, international organisations. This will involve worldwide travel to client offices mainly in Europe but also across Asia and parts of the Middle East. Responsibilities:  Generating sales leads and making initial sales calls to potential clients  Preparing pitches/sales presentations using PowerPoint or other relevant tools  Attending sales meetings/pitches alongside the group CEO and/or COO  Drawing up business proposals and contracts  International travel to client offices and/or other offices  Forecasting sales plans and revenue targets/figures Personal specification/skills required:  Personable candidate who demonstrates outstanding enthusiasm, selfbelief and relationshipbuilding skills  Previous sales experience in the Digital Marketing sector (preferably in performance/affiliate marketing)  Comfortable and confident in both phone based and consultative facetoface sales situations  Competence to create and deliver structured presentations and proposals  Be tenacious and driven to succeed at all times  in a highly competitive and challenging environment  Ability to generate own sales opportunities and think laterally to succeed  Be a highly results focused and target driven individual who is able to build a continually evolving pipeline and provide accurate forecasts  Educated ideally to degree level standard  Excellent fluent spoken and written English  The ability to speak an additional language, preferably French, would be a huge bonus Essentially we are looking for an extremely focused and highly career driven individual with the ability to sell marketing leading technology at the highest level.'

In [7]:
df["FullDescription"] = df["FullDescription"].apply(lambda x: x.lower())
df_test["FullDescription"] = df_test["FullDescription"].apply(lambda x: x.lower())

In [8]:
df['FullDescription'] = df['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
df_test['FullDescription'] = df_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [14]:
vectorizer = TfidfVectorizer(min_df=5)
X_train = vectorizer.fit_transform(df["FullDescription"])
X_test = vectorizer.transform(df_test["FullDescription"])

In [16]:
df['LocationNormalized'].fillna('nan', inplace=True)
df['ContractTime'].fillna('nan', inplace=True)
df_test['LocationNormalized'].fillna('nan', inplace=True)
df_test['ContractTime'].fillna('nan', inplace=True)

In [17]:
enc = DictVectorizer()
X_train_categ = enc.fit_transform(df[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(df_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [18]:
train = hstack([X_train, X_train_categ])
test = hstack([X_test, X_test_categ])

In [19]:
y_train = df["SalaryNormalized"]

In [20]:
ridge = Ridge(random_state=241, alpha=1)

In [21]:
ridge.fit(train, y_train)

Ridge(alpha=1, random_state=241)

In [22]:
ridge.predict(test)

array([56565.3254579 , 37140.63063337])